{% extends 'layout.tpl' %}

{% block title %}Generovať rozpis | {% endblock %}

{% block content %}
<div class="container">
    
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Nová sezóna</h1>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        
        {% for dayTimestamp, day in twigSchedule %}
        {% set dayIndex = dayTimestamp|date('w') %}
        <div class="{{ columns }}">
            <div class="panel panel-default">
                <div class="panel-heading">{{ dayTimestamp|date('d.m.Y') }} {{ daysNames[dayIndex] }}</div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th class="text-center">Čas</th>
                                {% for name in playgroundsNames%}
                                    <th class="text-center">{{ name }}</th>
                                {% endfor %}
                            </tr>
                            
                            {% for timestamp, games in day %}
                            <tr>
                                <td class="text-center">{{ timestamp|date('H:i') }}</td>
                                {% for game in games %}
                                    <td class="text-center">{{ game }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div> <!-- /.panel -->
        </div>
        {% endfor %}
        
    </div>
    
    <div class="row">
        <div class="col-xs-12">
            <a href="{{ router.pathFor('nova-sezona#save') }}" class="btn btn-success pull-right">Uložiť</a>
            
            <form method="post">
                {% for itemName, item in postData %}
                    {% if item is iterable %}
                        {% for propertyIndex, property in item %}
                            <input type="hidden" name="{{ itemName }}[{{ propertyIndex }}]" value="{{ property }}">
                        {% endfor %}
                    {% else %}
                        <input type="hidden" name="{{ itemName }}" value="{{ item }}">
                    {% endif %}
                {% endfor %}
                <input type="submit" class="btn btn-primary btn-margin pull-right" value="Vygenerovať znova">
            </form>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

</div>
{% endblock %}


{% block styles %}
<style>
    .btn-margin { margin: 0 10px; }
</style>
{% endblock %}
